[submodule "cdnjs"]
	path = cdnjs
	url = https://github.com/cdnjs/cdnjs
[submodule "client"]
	path = client
	url = https://github.com/Lookyloo/PySaneJS.git
[submodule "google-fonts"]
	path = google-fonts
	url = https://github.com/google/fonts.git
