[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gitpython = "*"
redis = ">=3"
sanejs = {editable = true,path = "."}
flask = "*"
gunicorn = {extras = ["gevent"],version = "*"}
pysanejs = {editable = true,path = "./client"}
Jinja2 = ">=2.10.1"  # CVE-2019-10906

[requires]
python_version = "3"
